*~
*.elc
.latest-build

\.#.*
.DS_Store
/tramp
ido.last
projectile-bookmarks.eld
projectile.cache
.mc-lists.el
srecode-map.el
semanticdb/
org.file.list
bookmarks
.org-id-locations
/jslint-reporter/
/recentf
/url/cache/
smex-items
abbrev_defs
