[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git://github.com/jwiegley/magit.git
[submodule "site-lisp/maxframe"]
	path = site-lisp/maxframe
	url = git://github.com/rmm5t/maxframe-el.git
[submodule "site-lisp/gist"]
	path = site-lisp/gist
	url = git://github.com/defunkt/gist.el.git
